<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <listener>
        <listener-class>com.bookshelf.MyContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>addBookServlet</servlet-name>
        <servlet-class>com.bookshelf.AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addBookServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>displayBookServlet</servlet-name>
        <servlet-class>com.bookshelf.DisplayBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>displayBookServlet</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

</web-app>